body {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

#timer {
    font-size: 10rem;
    font-weight: bold;
}

#explosion {
    width: 300px;
    height: 300px;
}
